body {
    margin: 0;
    padding: 0;
    font-family: ;
    background-color: aquamarine;
    color: brown;
}
.cabeçalho{
    background-color: rgb(1, 12, 5);
    color: azure;
    width: 20px;
    text-align: center;
}
